# Игнорирование всех файлов в папке и подпапках проекта
*

# Исключение из игнорирования файлов с исходным кодом: 
!*.c
!*.h
!*.asm
!*.s

# Исключение из игнорирования файлов следующих форматов:
!*.txt
!*.md
!*.pdf

!.gitignore

# Исключение из игнорирования следующих папок:
!/doxygen/
!/doxygen/**/
